// Variables

// Color 
$black: #000000;
$white: #ffffff;
$primary: #a945c7;
$secondary: #765F9C;
$third: #3F1C3F;
$gradient : -webkit-linear-gradient(90deg, #242C56 1%,$secondary 20%, $third 70%, $black 90% );