@import url("https://fonts.cdnfonts.com/css/m41-lovebit");
@import url("https://fonts.cdnfonts.com/css/roseamp");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(90deg, #242C56 1%, #765F9C 20%, #3F1C3F 70%, #101016 90%);
  position: relative;
  padding-bottom: 3em;
  height: 100vh;
}

main {
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: "M41_LOVEBIT", sans-serif;
  text-align: center;
}

.contenedor, .contenedor-2 {
  justify-content: center;
  font-family: "Roseamp", sans-serif;
  color: #ffffff;
}

.typed-out {
  overflow: hidden;
  border-right: 2px solid #ffffff;
  width: 0;
  -webkit-animation: typing 3s steps(14) forwards, blink 0.8s infinite;
          animation: typing 3s steps(14) forwards, blink 0.8s infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 97%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 97%;
  }
}
@-webkit-keyframes blink {
  from {
    border-color: #ffffff;
  }
  to {
    border-color: transparent;
  }
}
@keyframes blink {
  from {
    border-color: #ffffff;
  }
  to {
    border-color: transparent;
  }
}
button a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 6px;
}
button a:hover {
  color: #3F1C3F;
}

#q1 {
  background-color: rgba(76, 95, 109, 0.985);
  color: #ffffff;
  border: 2px solid #a945c7;
  border-radius: 10px;
  font-size: 10px;
  width: 11rem;
  text-align: justify;
  padding: 5px 5px;
  text-decoration: none;
  margin-top: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#q1 p {
  line-height: 0.8rem;
}

.img-logo {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.logo-animado {
  -webkit-animation: zoom-in 2s ease-out infinite;
          animation: zoom-in 2s ease-out infinite;
}

@-webkit-keyframes zoom-in {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
.img-flecha {
  height: 7rem;
}

.contenedor-2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: white;
  text-align: center;
}

.btn-basico {
  cursor: pointer;
  padding: 2% 8%;
  margin: 2%;
  font-size: 20px;
  font-family: "Roseamp", sans-serif;
  position: relative;
  color: white;
  background-color: #3F1C3F;
  border-radius: 2rem;
  font-family: "Roseamp", sans-serif;
}

.btn-neon {
  overflow: hidden;
  transition: 0.4s;
}

.btn-neon:hover {
  border: none;
  color: #3F1C3F;
  background-color: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

.btn-instrucciones {
  margin-left: -12%;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  box-shadow: none;
  width: 10px;
  height: 30px;
  cursor: pointer;
  line-height: 42px;
  perspective: 230px;
  background-color: transparent;
}

.btn-instrucciones span {
  background: #3F1C3F;
  background: linear-gradient(0deg, #3F1C3F 0%, #a945c7 100%);
  display: block;
  position: absolute;
  width: 125px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.btn-instrucciones span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.btn-instrucciones span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.btn-instrucciones:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transform: rotateX(0deg);
}

.btn-instrucciones:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  transform: rotateX(-90deg);
}

.list {
  margin-top: -10%;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: #EEBAF9;
  border: 1px solid #ffffff;
}

.btn-add {
  background-color: rgba(76, 95, 109, 0.8);
  border: 2px solid #a945c7;
  padding: 5px;
  width: 100px;
  margin-top: 10%;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  position: relative;
}

.btn-remove {
  background-color: rgba(76, 95, 109, 0.8);
  border: 2px solid #a945c7;
  padding: 5px;
  width: 100px;
  margin-top: 10%;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  position: relative;
}

.effet::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom: 1px solid #a945c7;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  opacity: 1;
  transform: translate(37%, -2%) rotate(180deg);
}

.effet:hover::before {
  opacity: 0;
  transform: translate(0, 0);
}

.subtitle-game {
  margin-top: 25%;
  margin-bottom: 10%;
}

ul li.checked {
  list-style: none;
  color: #ffffff;
  text-decoration: line-through;
}

ul li {
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .title-animation {
    margin-left: 5%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 98%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 98%;
    }
  }
  .btn-basico {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 521px) and (max-width: 720px) {
  .title-animation {
    margin-left: 18%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 92%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 92%;
    }
  }
}
@media only screen and (min-width: 721px) and (max-width: 820px) {
  .title-animation {
    margin-left: 23%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 72%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 72%;
    }
  }
}
@media only screen and (min-width: 821px) and (max-width: 992px) {
  .title-animation {
    margin-left: 25%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 69%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 69%;
    }
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024) {
  .title-animation {
    margin-left: 25%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 73%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 73%;
    }
  }
}
@media screen and (min-width: 1025px) {
  .title-animation {
    margin-left: 27%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 63%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 63%;
    }
  }
}
@media screen and (min-width: 1200px) {
  .title-animation {
    margin-left: 34%;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
  .btn-instrucciones {
    margin-left: -7%;
  }
  #q1 {
    font-size: 12px;
    width: 15rem;
  }
}/*# sourceMappingURL=styles.css.map */