@import url('https://fonts.cdnfonts.com/css/m41-lovebit');

                      
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

// Mixins

    @mixin texto ($pad, $mar, $size) {
        padding: $pad;
        margin: $mar;
        font-size: $size;
    }

    @mixin boton {
        color: white;
        background-color: #3F1C3F;
        border-radius: 3rem;
    }

// Etiquetas

body {
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(90deg, #242C56 1%,#765F9C 20%, #3F1C3F 70%, #101016 90% );
}

h1{
    color: #ffffff;
    font-family: 'M41_LOVEBIT', sans-serif;
    text-align: center;
                                                
}

.btn-basico {
    @include texto(2%, 2%, 24px);
    @include boton;
}

.img-logo{
    display: flex;
    justify-content: center;
    height: 10rem;
}

.img-flecha{
    display: flex;
    justify-content: center;
    height: 7rem;
}

.contenedor{
    display: grid;
    justify-content: center;
}
