@import url('https://fonts.cdnfonts.com/css/m41-lovebit');
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $gradient;
  position: relative;
  padding-bottom: 3em;
  height: 100vh;
  width: 100vw;
}

.img-logo{
  margin-top: 5%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
}

.logo-animado {
  animation: zoom-in 2s ease-out infinite;  
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  width: 30vw;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

h1 {
  color: #ffffff;
  font-family: 'M41_LOVEBIT', sans-serif;
  font-size: 2vw;
  column-span: all;
}

.title-animation {
  margin-left: 5%;
}

.typed-out {
overflow: hidden;
border-right: 2px solid #ffffff;
width: 0;
animation: typing 3s steps(14) forwards,
            blink .8s infinite;
}

@keyframes typing {
  from{width: 0}
  to{ width: 35%;}
}

@keyframes blink {
  from{ border-color: #ffffff}
  to{ border-color: transparent}
}

.contenedor-ventana {
  display: grid;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.ventana {
@include position(static, 20, 0);
  width: 95vw;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-self: center;
}

.cielo {
  width: 70vw;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  position: absolute
}

.estanque {
@include position(absolute, 2, 0);
  width: 70vw;
  margin-top: 16%;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
}


.pato-1 {
  width: 8vw;
  margin-top: 35%;
  position: absolute;
  z-index: 5;
  animation: movimiento-pato1 35s infinite ;
}

.pato-2 {
  width: 8vw;
  margin-top: 45%;
  position: absolute;
  z-index: 4;
  animation: movimiento-pato2 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.pato-3 {
  width: 8vw;
  margin-top: 36%;
  position: absolute;
  z-index: 5;
  animation: movimiento-pato1 15s infinite ;
}

.pato-4 {
  width: 6vw;
  margin-top: 35%;
  position: absolute;
  z-index: 4;
  animation: movimiento-pato1 10s infinite;
}

.pato-5 {
  width: 6vw;
  margin-top: 35%;
  position: absolute;
  z-index: 4;
  animation: movimiento-pato1 40s infinite;
}

.pato-6 {
  width: 5vw;
  margin-top: 34%;
  position: absolute;
  z-index: 3;
  animation: movimiento-pato3 20s infinite;
}

.pato-7 {
  width: 8vw;
  margin-top: 37%;
  position: absolute;
  z-index: 5;
  animation: movimiento-pato1 60s infinite ;
}

.pato-8 {
  width: 4vw;
  margin-top: 25%;
  position: absolute;
  z-index: 1;
  animation: movimiento-pato1 6s infinite;
}

.pato-9{
  width: 5vw;
  margin-top: 15%;
  position: absolute;
  z-index: 1;
  animation: movimiento-pato2 60s infinite;
}

@keyframes movimiento-pato1 {
  from{
    left: 80%;
  }

  to{
    left: 10%;
  }
}

@keyframes movimiento-pato2 {
  from{
    left: 15%;
  }

  to{
    left: 80%;
  }
}

@keyframes movimiento-pato3 {
  from{
    left: 15%;
  }

  to{
    left: 47%;
  }
}

.btn-reinicio {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 40%;
  position: relative;
  margin-top: 50%;
}

.btn-basico {
@include texto(3%, 3%, 20px);
@include boton;
}

button {
  a{
    color: white;
    text-decoration: none;
    letter-spacing: 6px;
  }
  a:hover {
    color: #3F1C3F;
  }
}

.btn-basico {
  @include texto(2%,2%, 3vw);
  @include boton;
}
.btn-neon {
overflow: hidden;
transition: 0.4s;
}

.btn-neon:hover {
border: none;
color: $third;
background-color:$primary;
box-shadow: 0 0 10px $primary, 0 0 40px $primary,
0 0 80px $primary;
}

.footer {
@include tam(100%, 30px);
position: absolute;
bottom: 0;
background-color: $black;
color: $white;
text-align: center;
}


.img-flecha-2{
  width: 15vw;
  margin-left: 20%;
  animation: blink-2 0.5s infinite;
}

@keyframes blink-2 {
0% {opacity: 0}
49%{opacity: 0}
50% {opacity: 1}
}

.footer {
  @include tam(100%, 30px);
  position: relative;
  bottom: 0;
  background-color: $black;
  color: $white;
  text-align: center;
}

/*
@media screen and (max-width:520px) {
    
    .btn-basico {
        margin-top: 10%;
        @include texto(2%, 2%, 15px);
        @include boton;
    }

    .title-animation {
        margin-left: 5%;
    }
    
    @keyframes typing {
        from{width: 0}
        to{ width: 95%;}
    }

    .img-flecha-2 {
        height: 4rem;
        margin-left: 10%;
        margin-top: 2%;
    }

}

@media only screen and (min-width:521px) and (max-width:720px) {
  
.btn-basico {
    margin-top: 10%;
    @include texto(2%, 2%, 15px);
    @include boton;
}

  .title-animation {
      margin-left: 15%;
  }

@keyframes typing {
    from{width: 0}
    to{ width: 92%;}
}

.img-flecha-2 {
    margin-top: 80%;
    height: 4rem;
    margin-left: 50%;
    margin-top: 5%;
}

.btn-reinicio {
  margin-top: 50%;
  grid-template-rows: 50%;
}
}


@media only screen and (min-width:721px) and (max-width:820px) {
  
.btn-basico {
    margin-top: 15%;
    @include texto(2%, 2%, 15px);
    @include boton;
}

  .title-animation {
      margin-left: 25%;
  }

@keyframes typing {
    from{width: 0}
    to{ width: 80%;}
}

.img-flecha-2 {
  margin-top: 70%;
  height: 4rem;
  margin-left: 10%;
}

.btn-reinicio {
  margin-top: 50%;
  grid-template-rows: 40%;
}

body{
  height: 100%;
}
}

@media only screen and (min-width:821px) and (max-width:992px) {

  .title-animation {
      margin-left: 25%;
  }

.btn-basico {
    margin-top: 15%;
    @include texto(2%, 2%, 15px);
    @include boton;
}

  .title-animation {
      margin-left: 25%;
  }

@keyframes typing {
    from{width: 0}
    to{ width: 80%;}
}

.img-flecha-2 {
  margin-top: 65%;
  height: 4rem;
  margin-left: 10%;
}

.btn-reinicio {
  margin-top: 50%;
}

body{
  height: 100vh;
}
}

@media only screen and (min-width:993px) {

.btn-basico {
    margin-top: 5%;
    @include texto(1%, 1%, 15px);
    @include boton;
}

  .title-animation {
      margin-left: 27%;
  }
  
  @keyframes typing {
      from{width: 0}
      to{ width: 73%;}
  }

.img-flecha-2 {
    height: 4rem;
    margin-left: 20%;
    margin-top: 58%;
}

.btn-reinicio {
  margin-top: 50%;
}

body {
  height: 100%;
}
}

@media screen and (max-width:1025) {

.btn-basico {
    margin-top: 2%;
    @include texto(2%, 2%, 10px);
    @include boton;
}

  .title-animation{
      margin-left: -30%;
  }
  
  @keyframes typing {
      from{width: 0}
      to{ width: 63%;}
  }

.img-flecha-2{
    height: 5rem;
    margin-left: 24%;
    margin-top: -2%;
}

.img-flecha-2 {
  height: 4rem;
  margin-left: 20%;
  margin-top: 58%;
}

.btn-reinicio {
  margin-top: -10%;
}
}

@media screen and (min-width:1200px) {

.btn-basico {
  margin-top: 2%;
  @include texto(1%, 1%, 20px);
  @include boton;
}

  .title-animation {
      margin-left: 35%;
  }

@keyframes typing {
  from{width: 0}
  to{ width: 65%;}
}

  .img-flecha-2 {
      height: 5rem;
      margin-left: 25%;
      margin-top: 1%;
  }
}*/

