@import url('https://fonts.cdnfonts.com/css/m41-lovebit');
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $gradient;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.img-logo{
  margin-top: 5%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
}

.logo-animado {
  animation: zoom-in 2s ease-out infinite;  
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  width: 30vw;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

h1 {
  color: #ffffff;
  font-family: 'M41_LOVEBIT', sans-serif;

  column-span: all;
}

.title-animation {
  display: grid;
  width: 100vw;
}

.typed-out {
  font-size: 2.9vw;
  justify-self: center;
  overflow: hidden;
  border-right: 2px solid #ffffff;
  width: 0;
  animation: typing 3s steps(14) forwards,
              blink .8s infinite;
}

@keyframes typing {
  from{width: 0}
  to{ width: 36%;}
}

@keyframes blink {
  from{ border-color: #ffffff}
  to{ border-color: transparent}
}

.contenedor-ventana {
  display: grid;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.ventana {
@include position(static, 20, 0);
  width: 95vw;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-self: center;
}

.cielo {
  width: 70vw;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  position: absolute
}

.estanque {
@include position(absolute, 2, 0);
  width: 70vw;
  margin-top: 16%;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
}


.pato-1 {
  width: 8vw;
  margin-top: 35%;
  position: absolute;
  z-index: 5;
  animation: movimiento-pato1 35s infinite ;
}

.pato-2 {
  width: 8vw;
  margin-top: 45%;
  position: absolute;
  z-index: 4;
  animation: movimiento-pato2 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.pato-3 {
  width: 8vw;
  margin-top: 36%;
  position: absolute;
  z-index: 5;
  animation: movimiento-pato1 15s infinite ;
}

.pato-4 {
  width: 6vw;
  margin-top: 35%;
  position: absolute;
  z-index: 4;
  animation: movimiento-pato1 10s infinite;
}

.pato-5 {
  width: 6vw;
  margin-top: 35%;
  position: absolute;
  z-index: 4;
  animation: movimiento-pato1 40s infinite;
}

.pato-6 {
  width: 5vw;
  margin-top: 34%;
  position: absolute;
  z-index: 3;
  animation: movimiento-pato3 20s infinite;
}

.pato-7 {
  width: 8vw;
  margin-top: 37%;
  position: absolute;
  z-index: 5;
  animation: movimiento-pato1 60s infinite ;
}

.pato-8 {
  width: 4vw;
  margin-top: 25%;
  position: absolute;
  z-index: 1;
  animation: movimiento-pato1 6s infinite;
}

.pato-9{
  width: 5vw;
  margin-top: 15%;
  position: absolute;
  z-index: 1;
  animation: movimiento-pato2 60s infinite;
}

@keyframes movimiento-pato1 {
  from{
    left: 80%;
  }

  to{
    left: 10%;
  }
}

@keyframes movimiento-pato2 {
  from{
    left: 15%;
  }

  to{
    left: 80%;
  }
}

@keyframes movimiento-pato3 {
  from{
    left: 15%;
  }

  to{
    left: 47%;
  }
}

.btn-reinicio {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  position: relative;
}

.btn-basico {
  @include texto(3%, 3%, 20px);
  @include boton;
}

button {
  a{
    color: white;
    text-decoration: none;
    letter-spacing: 6px;
  }
  a:hover {
    color: #3F1C3F;
  }
}

.btn-neon {
  overflow: hidden;
  transition: 0.4s;
}

.btn-neon:hover {
  border: none;
  color: $third;
  background-color: $primary;
  box-shadow: 0 0 10px $primary, 0 0 40px $primary,
  0 0 80px $primary;
}

.img-flecha-2{
  width: 15vw;
  margin-left: 20%;
  animation: blink-2 0.5s infinite;
}

@keyframes blink-2 {
0% {opacity: 0}
49%{opacity: 0}
50% {opacity: 1}
}

.footer {
  @include tam(100%, 30px);
  position: absolute;
  bottom: 0;
  background-color: $black;
  color: $white;
  text-align: center;
}

.swal-overlay {
  background-color: #3f1c3fc2;
}

.swal-text {
  color: #ffffff;
}

.swal-button {
  background-color: #3F1C3F;
}


@media screen and (min-width:1200px) {
  body{
    height: 100%;
  }  

  .btn-reinicio{
    grid-template-rows: 60%;
  }
}
